    {{#each this}}
    <li class="country-list__item"><img class="country-list__img" src="{{flags.svg}}" alt="{{name.official}}"><h2 class="country-list__name">{{name.official}}</h2></li>
    {{/each}}
